[submodule "pack/upstream/opt/ack.vim"]
	path = pack/upstream/opt/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "pack/upstream/opt/vim-ripgrep"]
	path = pack/upstream/opt/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "pack/upstream/opt/vim-airline"]
	path = pack/upstream/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/upstream/opt/powerline"]
	path = pack/upstream/opt/powerline
	url = https://github.com/powerline/powerline.git
[submodule "pack/upstream/opt/lightline.vim"]
	path = pack/upstream/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/upstream/opt/onedark.vim"]
	path = pack/upstream/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/upstream/start/vim-gitgutter"]
	path = pack/upstream/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/upstream/start/vim-fugitive"]
	path = pack/upstream/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/upstream/opt/nerdtree"]
	path = pack/upstream/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/upstream/opt/nerdtree-git-plugin"]
	path = pack/upstream/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/upstream/opt/vim-nerdtree-tabs"]
	path = pack/upstream/opt/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "pack/upstream/opt/vim-orgmode"]
	path = pack/upstream/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "pack/upstream/opt/vim-snipmate"]
	path = pack/upstream/opt/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/upstream/opt/ultisnips"]
	path = pack/upstream/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/upstream/opt/vim-snippets"]
	path = pack/upstream/opt/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/upstream/start/editorconfig-vim"]
	path = pack/upstream/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/upstream/start/securemodelines"]
	path = pack/upstream/start/securemodelines
	url = https://github.com/ciaranm/securemodelines
[submodule "pack/upstream/start/syntastic"]
	path = pack/upstream/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/upstream/start/vim-lastplace"]
	path = pack/upstream/start/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "pack/upstream/start/webapi-vim"]
	path = pack/upstream/start/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "pack/upstream/opt/vim-markdown"]
	path = pack/upstream/opt/vim-markdown
	url = https://travis-ci.org/plasticboy/vim-markdown
[submodule "pack/upstream/opt/tabular"]
	path = pack/upstream/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/upstream/start/vim-jinja"]
	path = pack/upstream/start/vim-jinja
	url = https://github.com/lepture/vim-jinja
[submodule "pack/upstream/start/rust.vim"]
	path = pack/upstream/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/upstream/start/vim-racer"]
	path = pack/upstream/start/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "pack/upstream/opt/vim-ruby"]
	path = pack/upstream/opt/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "pack/upstream/opt/vim-rails"]
	path = pack/upstream/opt/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "pack/upstream/opt/vim-rake"]
	path = pack/upstream/opt/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "pack/upstream/opt/vim-bundler"]
	path = pack/upstream/opt/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "pack/upstream/opt/kite"]
	path = pack/upstream/opt/kite
	url = https://github.com/kiteco/vim-plugin
[submodule "pack/upstream/opt/vim-autopep8"]
	path = pack/upstream/opt/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "pack/upstream/opt/YouCompleteMe"]
	path = pack/upstream/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/upstream/opt/YouCompleteMe-tabnine"]
	path = pack/upstream/opt/YouCompleteMe-tabnine
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/upstream/opt/jedi-vim"]
	path = pack/upstream/opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "pack/upstream/opt/vim-virtualenv"]
	path = pack/upstream/opt/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "pack/upstream/start/vim-json"]
	path = pack/upstream/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "pack/upstream/start/Conque-Shell"]
	path = pack/upstream/opt/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell
[submodule "pack/upstream/opt/vim-markdown"]
	path = pack/upstream/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "pack/upstream/opt/vim-colors-solarized"]
	path = pack/upstream/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/upstream/opt/vim-javacomplete2"]
	path = pack/upstream/opt/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "pack/upstream/opt/ale"]
	path = pack/upstream/opt/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/upstream/opt/tmuxline.vim"]
	path = pack/upstream/opt/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "pack/upstream/opt/vim-elixir"]
	path = pack/upstream/opt/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "pack/upstream/opt/vim-go"]
	path = pack/upstream/opt/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/upstream/opt/vim-taskjuggler"]
	path = pack/upstream/opt/vim-taskjuggler
	url = https://github.com/kalafut/vim-taskjuggler
[submodule "pack/upstream/opt/vim-coffee-script"]
	path = pack/upstream/opt/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "pack/upstream/opt/ctrlp.vim"]
	path = pack/upstream/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/upstream/opt/tagbar"]
	path = pack/upstream/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/upstream/opt/vim-javascript"]
	path = pack/upstream/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/upstream/opt/ansible-vim"]
	path = pack/upstream/opt/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/upstream/opt/vim-one"]
	path = pack/upstream/opt/vim-one
	url = https://github.com/rakr/vim-one
[submodule "pack/upstream/opt/vim-endwise"]
	path = pack/upstream/opt/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/upstream/opt/kotlin-vim"]
	path = pack/upstream/opt/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "pack/upstream/opt/vim-latex"]
	path = pack/upstream/opt/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule "pack/upstream/opt/gtk-vim-syntax"]
	path = pack/upstream/opt/gtk-vim-syntax
	url = https://github.com/vim-scripts/gtk-vim-syntax
[submodule "pack/upstream/opt/tlib"]
	path = pack/upstream/opt/tlib
	url = https://github.com/vim-scripts/tlib
[submodule "pack/upstream/opt/VOoM"]
	path = pack/upstream/opt/VOoM
	url = https://github.com/vim-voom/VOoM
[submodule "pack/upstream/opt/vimoutliner"]
	path = pack/upstream/opt/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule "pack/upstream/opt/haproxy.vim"]
	path = pack/upstream/opt/haproxy.vim
	url = https://github.com/zimbatm/haproxy.vim
[submodule "pack/upstream/opt/vim-buftabline"]
	path = pack/upstream/opt/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "pack/upstream/opt/vimgdb"]
	path = pack/upstream/opt/vimgdb
	url = https://github.com/gisodal/vimgdb
[submodule "pack/upstream/opt/vim-chef"]
	path = pack/upstream/opt/vim-chef
	url = https://github.com/t9md/vim-chef
[submodule "pack/upstream/opt/vim-addon-mw-utils"]
	path = pack/upstream/opt/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "pack/upstream/opt/tlib_vim"]
	path = pack/upstream/opt/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "pack/upstream/opt/vimux"]
	path = pack/upstream/opt/vimux
	url = https://github.com/benmills/vimux
[submodule "pack/upstream/opt/vim-ansible-yaml"]
	path = pack/upstream/opt/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml
[submodule "pack/upstream/opt/emmet-vim"]
	path = pack/upstream/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/upstream/opt/python-mode"]
	path = pack/upstream/opt/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "pack/upstream/opt/taboo.vim"]
	path = pack/upstream/opt/taboo.vim
	url = https://github.com/gcmt/taboo.vim.git
[submodule "pack/upstream/opt/unite.vim"]
	path = pack/upstream/opt/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "pack/upstream/opt/vim-gnupg"]
	path = pack/upstream/opt/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "pack/upstream/opt/vim-docbk"]
	path = pack/upstream/opt/vim-docbk
	url = https://github.com/jhradilek/vim-docbk
[submodule "pack/upstream/opt/xml.vim"]
	path = pack/upstream/opt/xml.vim
	url = https://github.com/othree/xml.vim
[submodule "pack/upstream/opt/vimongous"]
	path = pack/upstream/opt/vimongous
	url = https://github.com/robu3/vimongous
[submodule "pack/upstream/opt/vim-dadbod"]
	path = pack/upstream/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/upstream/opt/vim-redis"]
	path = pack/upstream/opt/vim-redis
	url = https://github.com/junegunn/vim-redis
[submodule "pack/upstream/opt/vim-sql-workbench"]
	path = pack/upstream/opt/vim-sql-workbench
	url = https://github.com/cosminadrianpopescu/vim-sql-workbench
[submodule "pack/upstream/opt/SQLComplete.vim"]
	path = pack/upstream/opt/SQLComplete.vim
	url = https://github.com/vim-scripts/SQLComplete.vim
[submodule "pack/upstream/opt/vim-perl"]
	path = pack/upstream/opt/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "pack/upstream/opt/perl-support"]
	path = pack/upstream/opt/perl-support
	url = https://github.com/wolfgangmehner/perl-support
[submodule "pack/upstream/opt/Conque-GDB"]
	path = pack/upstream/opt/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB
[submodule "pack/upstream/opt/vimspector"]
	path = pack/upstream/opt/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "pack/upstream/opt/AutoComplPop"]
	path = pack/upstream/opt/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "pack/upstream/opt/vim-puppet"]
	path = pack/upstream/opt/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "pack/upstream/opt/salt-vim"]
	path = pack/upstream/opt/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule "pack/upstream/opt/cscope.vim"]
	path = pack/upstream/opt/cscope.vim
	url = https://github.com/brookhong/cscope.vim
[submodule "pack/upstream/opt/vim-tmux"]
	path = pack/upstream/opt/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "pack/upstream/opt/vim-tmux-navigator"]
	path = pack/upstream/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/upstream/opt/vim-tmux-pilot"]
	path = pack/upstream/opt/vim-tmux-pilot
	url = https://github.com/urbainvaes/vim-tmux-pilot
[submodule "pack/upstream/opt/better-vim-tmux-resizer"]
	path = pack/upstream/opt/better-vim-tmux-resizer
	url = https://github.com/RyanMillerC/better-vim-tmux-resizer
[submodule "pack/upstream/opt/aws-vim"]
	path = pack/upstream/opt/aws-vim
	url = https://github.com/m-kat/aws-vim
[submodule "pack/upstream/opt/vim-raku"]
	path = pack/upstream/opt/vim-raku
	url = https://github.com/Raku/vim-raku
[submodule "pack/upstream/opt/vim-plugins"]
	path = pack/upstream/opt/vim-plugins-wm
	url = https://github.com/WolfgangMehner/vim-plugins.git
[submodule "pack/upstream/opt/c-support"]
	path = pack/upstream/opt/c-support
	url = https://github.com/WolfgangMehner/c-support
[submodule "pack/upstream/opt/lua-support"]
	path = pack/upstream/opt/lua-support
	url = https://github.com/WolfgangMehner/lua-support
[submodule "pack/upstream/opt/bash-support"]
	path = pack/upstream/opt/bash-support
	url = https://github.com/WolfgangMehner/bash-support
[submodule "pack/upstream/opt/latex-support"]
	path = pack/upstream/opt/latex-support
	url = https://github.com/WolfgangMehner/latex-support
[submodule "pack/upstream/opt/python-support"]
	path = pack/upstream/opt/python-support
	url = https://github.com/WolfgangMehner/python-support
[submodule "pack/upstream/opt/awk-support"]
	path = pack/upstream/opt/awk-support
	url = https://github.com/WolfgangMehner/awk-support
[submodule "pack/upstream/opt/matlab-support"]
	path = pack/upstream/opt/matlab-support
	url = https://github.com/WolfgangMehner/matlab-support
[submodule "pack/upstream/opt/vim-do"]
	path = pack/upstream/opt/vim-do
	url = https://github.com/WolfgangMehner/vim-do
[submodule "pack/upstream/opt/c.vim"]
	path = pack/upstream/opt/c.vim
	url = https://github.com/WolfgangMehner/c.vim
[submodule "pack/upstream/opt/vimlscript-support"]
	path = pack/upstream/opt/vimlscript-support
	url = https://github.com/WolfgangMehner/vim-support
[submodule "pack/upstream/opt/gentoo-syntax"]
	path = pack/upstream/opt/gentoo-syntax
	url = https://github.com/gentoo/gentoo-syntax.git
[submodule "pack/upstream/opt/spec.vim"]
	path = pack/upstream/opt/spec.vim
	url = https://github.com/vim-scripts/spec.vim.git
[submodule "pack/upstream/opt/vim-slime"]
	path = pack/upstream/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "pack/upstream/opt/vim-arduino"]
	path = pack/upstream/opt/vim-arduino
	url = https://github.com/stevearc/vim-arduino
[submodule "pack/upstream/opt/killersheep"]
	path = pack/upstream/opt/killersheep
	url = https://github.com/vim/killersheep
[submodule "pack/upstream/opt/vim-commentary"]
	path = pack/upstream/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/upstream/opt/impsort.vim"]
	path = pack/upstream/opt/impsort.vim
	url = https://github.com/tweekmonster/impsort.vim
[submodule "pack/upstream/opt/vim-jq"]
	path = pack/upstream/opt/vim-jq
	url = https://github.com/bfrg/vim-jq
[submodule "pack/upstream/opt/vim-jqplay"]
	path = pack/upstream/opt/vim-jqplay
	url = https://github.com/bfrg/vim-jqplay
[submodule "pack/upstream/opt/vimwiki"]
	path = pack/upstream/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/upstream/opt/calendar-vim"]
	path = pack/upstream/opt/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule "pack/upstream/opt/vim-isort"]
	path = pack/upstream/opt/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "pack/upstream/opt/coc.nvim"]
	path = pack/upstream/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/upstream/opt/tabnine-vim"]
	path = pack/upstream/opt/tabnine-vim
	url = https://github.com/codota/tabnine-vim
[submodule "pack/upstream/opt/telescope.nvim"]
	path = pack/upstream/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/upstream/opt/telescope-file-browser.nvim"]
	path = pack/upstream/opt/telescope-file-browser.nvim
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim
[submodule "pack/upstream/opt/plenary.nvim"]
	path = pack/upstream/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/upstream/opt/xterm-color-table.vim"]
	path = pack/upstream/opt/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim
[submodule "pack/upstream/opt/command-t"]
	path = pack/upstream/opt/command-t
	url = https://github.com/wincent/command-t
[submodule "pack/upstream/opt/vim-lsp"]
	path = pack/upstream/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/upstream/opt/Dockerfile.vim"]
	path = pack/upstream/opt/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "denops-docker.vim"]
	path = pack/upstream/opt/denops-docker.vim
	url = https://github.com/skanehira/denops-docker.vim
[submodule "denops.vim"]
	path = pack/upstream/opt/denops.vim
	url = https://github.com/vim-denops/denops.vim
[submodule "pack/upstream/opt/html5.vim"]
	path = pack/upstream/opt/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "pack/upstream/opt/vim-todo-highlight"]
	path = pack/upstream/opt/vim-todo-highlight
	url = https://github.com/sakshamgupta05/vim-todo-highlight
[submodule "pack/upstream/opt/vim-less"]
	path = pack/upstream/opt/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "pack/upstream/opt/LanguageClient-neovim"]
	path = pack/upstream/opt/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "pack/upstream/opt/gotests-vim"]
	path = pack/upstream/opt/gotests-vim
	url = https://github.com/buoto/gotests-vim.git
[submodule "pack/upstream/opt/dart-vim-plugin"]
	path = pack/upstream/opt/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "pack/upstream/opt/vader.vim"]
	path = pack/upstream/opt/vader.vim
	url = https://github.com/junegunn/vader.vim
[submodule "pack/upstream/opt/vim-themis"]
	path = pack/upstream/opt/vim-themis
	url = https://github.com/thinca/vim-themis
[submodule "pack/upstream/opt/github-actions-yaml.vim"]
	path = pack/upstream/opt/github-actions-yaml.vim
	url = https://github.com/yasuhiroki/github-actions-yaml.vim
[submodule "pack/upstream/opt/vim-css-color"]
	path = pack/upstream/opt/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/upstream/opt/ConvertBase.vim"]
	path = pack/upstream/opt/ConvertBase.vim
	url = https://github.com/vim-scripts/ConvertBase.vim
[submodule "pack/upstream/opt/vim-css3-syntax"]
	path = pack/upstream/opt/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "pack/upstream/opt/vscode-lldb"]
	path = pack/upstream/opt/vscode-lldb
	url = https://github.com/vadimcn/vscode-lldb
[submodule "pack/upstream/opt/haskell-vim"]
	path = pack/upstream/opt/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
