@ansible/ansible-language-server
@commitlint/cli
@commitlint/config-conventional
@cspell/dict-bash
awk-language-server
bash-language-server
codeclimate-test-reporter
corepack
cspell
dockerfile-language-server-nodejs
dot-language-server
fixjson
git-conventional-commits
jsonlint
markdownlint-cli
npm
textlint
vim-language-server
vscode-json-languageserver
vscode-langservers-extracted
write-good
yarn
